<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} 12324 fdsfds{% endblock %} | Soap Master</title>
    <!-- Загрузка статики -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'misk_design/404_blank/css/styleasd.css' %}" type="text/css">

</head>

<body>
    <div class="error-page">
        <div>
            <h1 data-h1="404">404</h1>
            <h2>
                <em data-p="NOT FOUND">NOT FOUND asdf</em>
            </h2>
        </div>
    </div>
<script src="{% static 'misk_design/404_blank/js/script.js' %}"></script>
</body>
</html>